.router-outlet {
    border: dotted yellow dashed;
}

.nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .logo {
        height: 40px;
        border: 2px yellow dotted;
        outline: dotted red 2px;
        margin: 0.9em 0.8em;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;

        border: 2px blue dashed;

        li {
            align-self: center;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 0.8em;
            text-decoration: none;
        }

        li a:hover {
            background-color: #111111;
        }

        .active {
            color: yellow;
        }

        .filler {
            background-color: yellowgreen;
            width: auto;
        }
    }
}

.App {
    background-color: #282c34;
    min-height: 100vh;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}